body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background-color: black;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.logo {
  height: 100px;
}

main {
  padding-top: 80px;
  padding-left: 16px;
}
